@model CRUDUiJWT.Areas.EmployeeManagement.Models.SignupViewModel

@{
    ViewData["Title"] = "Create";
}



<div class="create-form-wrapper">
<h1>Add New Employee</h1>

<hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h3 style="font-size:20px; text-align:center; padding-bottom:10px;">Login Details</h3>
            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="Role" class="control-label"></label>
                    <input asp-for="Role" class="form-control" />
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <hr />

            <h3 style="font-size:20px; text-align:center; padding-bottom:10px;">Profile Details</h3>
            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="EmpId" class="control-label"></label>
                    <input asp-for="EmpId" class="form-control" />
                    <span asp-validation-for="EmpId" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            
            
            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="JoinDate" class="control-label"></label>
                    <input asp-for="JoinDate" class="form-control" />
                    <span asp-validation-for="JoinDate" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="DOB" class="control-label"></label>
                    <input asp-for="DOB" class="form-control" />
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="Gender" class="control-label"></label>
                    <input asp-for="Gender" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="Department" class="control-label"></label>
                    <input asp-for="Department" class="form-control" />
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="Designation" class="control-label"></label>
                    <input asp-for="Designation" class="form-control" />
                    <span asp-validation-for="Designation" class="text-danger"></span>
                </div>
            </div>

            <div class="text-center mt-4">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
   
    <div class="text-center mt-3">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
